/* setting */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg {
  width: 100%;
  opacity: 0.3;
}

.sample {
  opacity: 0.2;
}

.position {
  position: absolute;
}

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.red {
  background: #e10001;
}

.blue {
  background: #004caa;
}

.white {
  background: #fff;
}
