body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient( #efe4e9 30%, #d8c6b6 100%);
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
}

:root {
  --font-size-small: 1.6rem;
  --font-size-normal: 2.4rem;
  --font-size-large: 3.6rem;
  --font-size-tiile: 4.8rem;
  --white: #f9f9f9;
  --gray: #ccc;
  --light-gray: #aaa;
  --black: #333;
  --border-card: #eee;
}

.app-container {
  padding-top: 76px;
  padding-bottom: 80px;
}

.global-header {
  position: fixed;
  top: 0;;
  left: 0;
  width: 100%;
  height: 76px;
  padding: 16px 24px;
  backdrop-filter: blur(12px);
  background: rgba(252, 252, 250, 0.2);
  transition-duration: 0.3s;
}

.global-header.is-focus {
  height: 100%;
  padding: 36px 16px 24px 36px;
  backdrop-filter: blur(12px) brightness(0.9);
}

.global-header.is-focus .search-box__text {
  font-size: 56px;
}

.global-header > .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-box__text {
  width: calc(100% - 44px);
  color: var(--black);
  margin-left: 10px;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(.65,.04,.26,1);
}

.search-box__text::placeholder {
  color: var(--light-gray);
}

.text-large {
  font-size: var(--font-size-large);
}

.text-normal {
  font-size: var(--font-size-normal);
}

.text-small {
  font-size: var(--font-size-small);
}

.section {
  width: 960px;
  padding: 50px 0 0;
  margin: 0 auto;
}

.section__title {
  font-size: var(--font-size-tiile);
  font-family: Söhne,sans-serif;
  font-weight: bold;
  color: var(--black);
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  overflow-x: scroll;
  padding: 50px 0
}

.card {
  width: 400px;
  min-height: 450px;
  border-radius: 12px;
  padding-bottom: 28px;
  overflow: hidden;
  font-family: Söhne,sans-serif;
}

.card__header {
  display: flex;
  align-items: center;
  padding: 14px 42px;
  line-height: 1.6rem;
  font-size: 1.6rem;
}

.card__header-title {
  margin-left: 10px;
}

.card.card-white {
  background: var(--white);
}

.card.card-white .card__header {
  background-color: #f2f2f3;
}

.card.card-blur {
  background: rgba(252, 252, 250, 0.2);
}

.card.card-blur .card__header {
  background: rgba(252, 252, 250, 0.4);
}

.card__main {
  padding: 28px 42px 0;
}

.card__main-title {
  color: var(--black);
  font-family: Söhne,sans-serif;
  font-size: var(--font-size-normal);
  font-weight: bold;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.8rem;
}

.card__content {
  line-height: 2rem;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  color: #333;
}

.card__content-inner {
  width: 100%;
  margin-top: 2.4rem;
  padding: 0 0 2.4rem;
  border-top: solid 1px var(--border-card);
}

.card__content-inner > .card-button {
  margin-top: 17px;
}

.card__content-inner > .card-button:not(:first-child) {
  margin-left: 7px;
}

.card-button {
  padding: 14px 20px;
  font-size: 1.2rem;
  background: #eee;
  border-radius: 14px;
  color: var(--black);
}

.card__main > .card__content {
  margin-top: 28px;
}

.search-area {
  position: fixed;
  top: 77px;
  left: 0;
  width: 100%;
  height: calc(100% - 77px);
  padding: 36px;
  background: transparent;

  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "list  date"
    "list menu";
  /* grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "list list list date" "list list list menu" "list list list menu"; */
}

.list-area {
  grid-area: list;
}

.date-area {
  grid-area: date;
}

.date-cell {

}

.menu-area {
  grid-area: munu;
  /* padding-top: 50px; */
}

.menu-list {
  width: fit-content;
  position: relative;
  font-size: 3.2rem;
  line-height: 1.6;
  opacity: 0;
  animation: list-fade 0.5s cubic-bezier(.65,.04,.26,1) 0.3s forwards;
}

.menu-list::before {
  content: '';
  position: absolute;
  left: 0;
  top: 55%;
  width: 0;
  height: 2px;
  background: #333;
  transition-duration: 0.4s;
}

.menu-list:hover::before {
  width: 100%;
}

@keyframes list-fade {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease-in;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
