<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="description" content="" />
		<link rel="canonical" href="" />
		<meta property="og:title" content="" />
		<meta property="og:type" content="" />
		<meta property="og:locale" content="ja_JP" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="" />
		<meta name="twitter:title" content="" />
		<meta name="twitter:card" content="" />
		<meta name="twitter:description" content="" />
		<meta name="twitter:image" content="" />

    <link rel="dns-prefetch" href="" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/setting.css" />
		<link rel="stylesheet" href="./css/style.css" />
		<title>title-area</title>
	</head>
	<body>
		<div id="app" class="app-container">
      <header
        :class="{'is-focus': isFocus}"
        class="global-header"
      >
        <nav class="nav">
          <div class="search-box">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 48 48">
              <path fill="#aaa" d="M47.635,45.552,35.967,33.887a20.488,20.488,0,1,0-2.023,2.022L45.612,47.574A1.447,1.447,0,0,0,46.624,48a1.4,1.4,0,0,0,1.011-.426A1.439,1.439,0,0,0,47.635,45.552ZM2.914,20.467a17.6,17.6,0,1,1,17.6,17.6A17.614,17.614,0,0,1,2.914,20.467Z" />
            </svg>
            <input class="search-box__text text-large" type="text" placeholder="What would you like todo ?" />
          </div>
          <span class="text-small time-text">22:40</span>
        </nav>
        <transition name="fade">
          <div
            v-if="isFocus"
            class="search-area"
          >
            <div class="list-area">

            </div>
            <div class="date-area">
              <div class="date-cell"></div>
            </div>
            <ul class="menu-area">
              <li
                v-for="(menu, i) in menus"
                :key="i"
                :style="`animation-delay: ${i * 0.1 + 0.3}s`"
                class="menu-list"
              ><a :href="menu.path">{{menu.label}}</a></li>
            </ul>
          </div>
        </transition>
      </header>
      <main>
        <article>
          <section>
            <h2 class="section section__title">Notifications</h2>
            <div class="card-container">
              <div class="card card-blur">
                <header class="card__header">
                  <svg viewBox="0 0 400 350" xml:space="preserve" width="30" height="20" fill="#333">
                    <path d="M336.764,45.945H45.354C20.346,45.945,0,65.484,0,89.5v203.117c0,24.016,20.346,43.555,45.354,43.555h291.41 c25.008,0,45.353-19.539,45.353-43.555V89.5C382.117,65.484,361.772,45.945,336.764,45.945z M336.764,297.72H45.354 c-3.676,0-6.9-2.384-6.9-5.103V116.359l131.797,111.27c2.702,2.282,6.138,3.538,9.676,3.538l22.259,0.001 c3.536,0,6.974-1.257,9.677-3.539l131.803-111.274v176.264C343.664,295.336,340.439,297.72,336.764,297.72z M191.059,192.987 L62.87,84.397h256.378L191.059,192.987z"/>
                  </svg>
                  <span class="card__header-title">icon card-blur mic</span>
                </header>
                <main class="card__main">
                  <p class="card__main-title">module title</p>
                  <p class="card__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </main>
              </div>
              <div class="card card-blur">
                <header class="card__header">
                  <svg viewBox="0 0 400 350" xml:space="preserve" width="30" height="20" fill="#333">
                    <path d="M336.764,45.945H45.354C20.346,45.945,0,65.484,0,89.5v203.117c0,24.016,20.346,43.555,45.354,43.555h291.41 c25.008,0,45.353-19.539,45.353-43.555V89.5C382.117,65.484,361.772,45.945,336.764,45.945z M336.764,297.72H45.354 c-3.676,0-6.9-2.384-6.9-5.103V116.359l131.797,111.27c2.702,2.282,6.138,3.538,9.676,3.538l22.259,0.001 c3.536,0,6.974-1.257,9.677-3.539l131.803-111.274v176.264C343.664,295.336,340.439,297.72,336.764,297.72z M191.059,192.987 L62.87,84.397h256.378L191.059,192.987z"/>
                  </svg>
                  <span class="card__header-title">icon card-blur mic</span>
                </header>
                <main class="card__main">
                  <p class="card__main-title">module title</p>
                  <p class="card__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </main>
              </div>
              <div class="card card-blur">
                <header class="card__header">
                  <svg viewBox="0 0 400 350" xml:space="preserve" width="30" height="20" fill="#333">
                    <path d="M336.764,45.945H45.354C20.346,45.945,0,65.484,0,89.5v203.117c0,24.016,20.346,43.555,45.354,43.555h291.41 c25.008,0,45.353-19.539,45.353-43.555V89.5C382.117,65.484,361.772,45.945,336.764,45.945z M336.764,297.72H45.354 c-3.676,0-6.9-2.384-6.9-5.103V116.359l131.797,111.27c2.702,2.282,6.138,3.538,9.676,3.538l22.259,0.001 c3.536,0,6.974-1.257,9.677-3.539l131.803-111.274v176.264C343.664,295.336,340.439,297.72,336.764,297.72z M191.059,192.987 L62.87,84.397h256.378L191.059,192.987z"/>
                  </svg>
                  <span class="card__header-title">icon card-blur mic</span>
                </header>
                <main class="card__main">
                  <p class="card__main-title">module title</p>
                  <p class="card__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </main>
              </div>
            </div>
          </section>
          <section>
            <h2 class="section section__title">Apps</h2>
            <div class="card-container">
              <div class="card card-white">
                <header class="card__header">
                  <svg width="18px" height="18px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve"><path d="M8,112V16c0-4.414,3.594-8,8-8h80c4.414,0,8,3.586,8,8v47.031l8-8V16c0-8.836-7.164-16-16-16H16C7.164,0,0,7.164,0,16v96 c0,8.836,7.164,16,16,16h44v-8H16C11.594,120,8,116.414,8,112z M88,24H24v8h64V24z M88,40H24v8h64V40z M88,56H24v8h64V56z M24,80 h32v-8H24V80z M125.656,72L120,66.344c-1.563-1.563-3.609-2.344-5.656-2.344s-4.094,0.781-5.656,2.344l-34.344,34.344 C72.781,102.25,68,108.293,68,110.34L64,128l17.656-4c0,0,8.094-4.781,9.656-6.344l34.344-34.344 C128.781,80.188,128.781,75.121,125.656,72z M88.492,114.82c-0.453,0.43-2.02,1.488-3.934,2.707l-10.363-10.363 c1.063-1.457,2.246-2.922,2.977-3.648l25.859-25.859l11.313,11.313L88.492,114.82z"/></svg>
                  <span class="card__header-title">icon title title title title title mic</span>
                </header>
                <main class="card__main">
                  <p class="card__main-title">App Title</p>
                  <p class="card__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                  <div class="card__content-inner">
                    <button type="button" class="card-button">Delete</button>
                    <button type="button" class="card-button">Others</button>
                  </div>
                </main>
              </div>
              <div class="card card-white">
                <header class="card__header">
                  <svg width="18px" height="18px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve"><path d="M8,112V16c0-4.414,3.594-8,8-8h80c4.414,0,8,3.586,8,8v47.031l8-8V16c0-8.836-7.164-16-16-16H16C7.164,0,0,7.164,0,16v96 c0,8.836,7.164,16,16,16h44v-8H16C11.594,120,8,116.414,8,112z M88,24H24v8h64V24z M88,40H24v8h64V40z M88,56H24v8h64V56z M24,80 h32v-8H24V80z M125.656,72L120,66.344c-1.563-1.563-3.609-2.344-5.656-2.344s-4.094,0.781-5.656,2.344l-34.344,34.344 C72.781,102.25,68,108.293,68,110.34L64,128l17.656-4c0,0,8.094-4.781,9.656-6.344l34.344-34.344 C128.781,80.188,128.781,75.121,125.656,72z M88.492,114.82c-0.453,0.43-2.02,1.488-3.934,2.707l-10.363-10.363 c1.063-1.457,2.246-2.922,2.977-3.648l25.859-25.859l11.313,11.313L88.492,114.82z"/></svg>
                  <span class="card__header-title">icon title title title title title mic</span>
                </header>
                <main class="card__main">
                  <p class="card__main-title">App Title</p>
                  <p class="card__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                  <div class="card__content-inner">
                    <button type="button" class="card-button">Delete</button>
                    <button type="button" class="card-button">Others</button>
                  </div>
                </main>
              </div>
              <div class="card card-white">
                <header class="card__header">
                  <svg width="18px" height="18px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve"><path d="M8,112V16c0-4.414,3.594-8,8-8h80c4.414,0,8,3.586,8,8v47.031l8-8V16c0-8.836-7.164-16-16-16H16C7.164,0,0,7.164,0,16v96 c0,8.836,7.164,16,16,16h44v-8H16C11.594,120,8,116.414,8,112z M88,24H24v8h64V24z M88,40H24v8h64V40z M88,56H24v8h64V56z M24,80 h32v-8H24V80z M125.656,72L120,66.344c-1.563-1.563-3.609-2.344-5.656-2.344s-4.094,0.781-5.656,2.344l-34.344,34.344 C72.781,102.25,68,108.293,68,110.34L64,128l17.656-4c0,0,8.094-4.781,9.656-6.344l34.344-34.344 C128.781,80.188,128.781,75.121,125.656,72z M88.492,114.82c-0.453,0.43-2.02,1.488-3.934,2.707l-10.363-10.363 c1.063-1.457,2.246-2.922,2.977-3.648l25.859-25.859l11.313,11.313L88.492,114.82z"/></svg>
                  <span class="card__header-title">icon title title title title title mic</span>
                </header>
                <main class="card__main">
                  <p class="card__main-title">App Title</p>
                  <p class="card__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                  <div class="card__content-inner">
                    <button type="button" class="card-button">Delete</button>
                    <button type="button" class="card-button">Others</button>
                  </div>
                </main>
              </div>
            </div>
          </section>
          <section>
            <h2 class="section section__title">Tasks</h2>
            <div class="card-container">
              <div class="card card-white">
                <header class="card__header">
                  <svg width="18px" height="18px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve"><path d="M8,112V16c0-4.414,3.594-8,8-8h80c4.414,0,8,3.586,8,8v47.031l8-8V16c0-8.836-7.164-16-16-16H16C7.164,0,0,7.164,0,16v96 c0,8.836,7.164,16,16,16h44v-8H16C11.594,120,8,116.414,8,112z M88,24H24v8h64V24z M88,40H24v8h64V40z M88,56H24v8h64V56z M24,80 h32v-8H24V80z M125.656,72L120,66.344c-1.563-1.563-3.609-2.344-5.656-2.344s-4.094,0.781-5.656,2.344l-34.344,34.344 C72.781,102.25,68,108.293,68,110.34L64,128l17.656-4c0,0,8.094-4.781,9.656-6.344l34.344-34.344 C128.781,80.188,128.781,75.121,125.656,72z M88.492,114.82c-0.453,0.43-2.02,1.488-3.934,2.707l-10.363-10.363 c1.063-1.457,2.246-2.922,2.977-3.648l25.859-25.859l11.313,11.313L88.492,114.82z"/></svg>
                  <span class="card__header-title">icon title title title title title mic</span>
                </header>
                <main class="card__main">
                  <p class="card__main-title">App Title</p>
                  <p class="card__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                  <div class="card__content-inner">
                    <button type="button" class="card-button">Delete</button>
                    <button type="button" class="card-button">Others</button>
                  </div>
                </main>
              </div>
            </div>
          </section>
        </article>
      </main>
      <!-- <transition name="fade">
        <div v-if="true" class="search-area">aaaaaaaa</div>
      </transition> -->
    </div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="./script/script.js"></script>
</html>
