<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="description" content="" />
		<link rel="canonical" href="" />
		<meta property="og:title" content="" />
		<meta property="og:type" content="" />
		<meta property="og:locale" content="ja_JP" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="" />
		<meta name="twitter:title" content="" />
		<meta name="twitter:card" content="" />
		<meta name="twitter:description" content="" />
		<meta name="twitter:image" content="" />

		<link rel="dns-prefetch" href="" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/setting.css" />
		<link rel="stylesheet" href="./css/style.css" />
		<title>title-area</title>
	</head>
	<body>
		<div id="app">
      <article class="view-container">
        <transition name="page">
          <div
            v-if="currentIs === 'Red'"
            class="container-inner red"
          >Red</div>
        </transition>
        <transition name="page">
          <div
            v-if="currentIs === 'Yellow'"
            class="container-inner yellow"
          >Yellow</div>
        </transition>
        <transition name="page">
          <div
            v-if="currentIs === 'Green'"
            class="container-inner green"
          >Green</div>
        </transition>
        <transition name="page">
          <div
            v-if="currentIs === 'Blue'"
            class="container-inner blue"
          >Blue</div>
        </transition>
      </article>
      <div class="menu-btn btn-next" @click="movePrev">前</div>
      <div class="menu-btn btn-prev" @click="moveNext">次</div>
    </div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="./script/script.js"></script>
</html>
